# Desktop SparkBot 配置文件
CONFIG_IDF_TARGET="esp32s3"
CONFIG_BOARD_TYPE_DESKTOP_SPARKBOT=y

# PSRAM配置
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# LVGL配置（由Kconfig自动启用）
CONFIG_LV_USE_GIF=y
CONFIG_LV_GIF_CACHE_DECODE_DATA=y

# 语言配置
CONFIG_LANGUAGE_ZH_CN=y

# 音频处理
CONFIG_USE_AFE_WAKE_WORD=y
CONFIG_USE_AUDIO_PROCESSOR=y
